services:
  ols:
    image: litespeedtech/openlitespeed:1.8.2-lsphp{{ .PHPVersionShort }}
    container_name: ols_{{ .DomainSlug }}
    restart: always
    environment:
      - TZ=Asia/Ho_Chi_Minh
    volumes:
      - ./html:/usr/local/lsws/Example/html
      - ./ols/conf/vhost.conf:/usr/local/lsws/conf/vhosts/Example/vhconf.conf
    networks:
      - {{ .NetworkName }}
    labels:
      - "traefik.enable=true"
      # Router HTTP (Truy cập tức thì trên cổng 80)
      - "traefik.http.routers.{{ .DomainSlug }}-http.rule=Host(`{{ .Domain }}`) || Host(`www.{{ .Domain }}`)"
      - "traefik.http.routers.{{ .DomainSlug }}-http.entrypoints=web"
      # Router HTTPS (Tự động cấp chứng chỉ SSL Let's Encrypt trên cổng 443)
      - "traefik.http.routers.{{ .DomainSlug }}.rule=Host(`{{ .Domain }}`) || Host(`www.{{ .Domain }}`)"
      - "traefik.http.routers.{{ .DomainSlug }}.entrypoints=websecure"
      - "traefik.http.routers.{{ .DomainSlug }}.tls.certresolver=letsencrypt"
      - "traefik.http.services.{{ .DomainSlug }}.loadbalancer.server.port=8088"

networks:
  {{ .NetworkName }}:
    external: true
