docRoot                   $VH_ROOT/html/
enableGzip                1
enableBr                  1
useIpInProxyHeader        1

expires  {
  enableExpires           1
  expiresByType           image/*=A2592000, text/css=A2592000, application/x-javascript=A2592000, application/javascript=A2592000, text/javascript=A2592000, font/*=A31536000, application/font-woff=A31536000, application/font-woff2=A31536000, application/x-font-ttf=A31536000
}

errorlog $VH_ROOT/logs/error.log {
  useServer               1
  logLevel                ERROR
  rollingSize             10M
  keepDays                7
  compressArchive         1
}

accesslog $VH_ROOT/logs/access.log {
  useServer               0
  rollingSize             10M
  keepDays                7
  compressArchive         1
}

index  {
  useServer               0
  indexFiles              index.php, index.html
}

rewrite  {
  enable                  1
  autoLoadHtaccess        1
  logLevel                0
  rules                   <<<END_rules
RewriteEngine On
RewriteBase /

{{ if .BlockXMLRPC }}# [Shield] Khoa brute-force bot XML-RPC
RewriteRule ^/?xmlrpc\.php$ - [F,L,NC]
{{ end }}{{ if .BlockSensitiveFiles }}# [Shield] Khoa cac file he thong nhay cam
RewriteRule ^/?(wp-config\.php|readme\.html|license\.txt|\.env|\.git|debug\.log) - [F,L,NC]
{{ end }}{{ if .BlockUploadsPHP }}# [Shield] Cam chay ma nguon PHP trong thu muc uploads
RewriteRule ^/?wp-content/uploads/.*\.php$ - [F,L,NC]
{{ end }}{{ if .BlockUserScan }}# [Shield] Chong do quet Username qua author query va REST API users
RewriteCond %{QUERY_STRING} ^author=([0-9]+) [NC]
RewriteRule ^ - [F,L]
RewriteRule ^/?wp-json/wp/v2/users - [F,L,NC]
{{ end }}
# WordPress Permalinks
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
END_rules
}

module cache {
  ls_enabled              1
}

phpIniOverride  {
  php_value upload_max_filesize 128M
  php_value post_max_size 128M
  php_value memory_limit 256M
  php_value max_execution_time 120
  php_value max_input_time 120
  php_admin_value opcache.enable 1
  php_admin_value opcache.memory_consumption 32
  php_admin_value opcache.interned_strings_buffer 4
  php_admin_value opcache.max_accelerated_files 4000
  php_admin_value opcache.revalidate_freq 2
}
