global:
  checkNewVersion: false
  sendAnonymousUsage: false

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    http3: {}

providers:
  docker:
    exposedByDefault: false
    network: ols-network

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ .Email }}"
      storage: "/etc/traefik/acme.json"
      httpChallenge:
        entryPoint: web
